<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.min.js"></script>
    <script src="node_modules/vue-resource/dist/vue-resource.js"></script>
    <script>
        window.onload=function () {
            new Vue({
                el:'#app',
                data:{
                    wd:'',
                    arr:[]
                },
                methods:{
                    changed () {
                        this.$http.jsonp('https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su',
                            {
                                params:{
                                    wd:this.wd
                                },
                                jsonp:"cb"
                            }).then(function (obj) {
                            console.log(obj);
                            this.arr=obj.data.s
                        },function () {
                                alert(1)
                        })
                    }
                }
            })
        }

    </script>


</head>
<div id="app">
    <body>
    <input type="text" v-model="wd" @input="changed">
    <ul v-for="(value,index) in arr">
        <li><a href="https://www.baidu.com/s?wd={{value}}">{{value}}</a></li>
    </ul>

</div>

</body>
</html>